/ProyectoFX/nbproject/private/
/ProyectoFX/build/
/ProyectoFX/dist/
/Ejercicio-06-04-2024/nbproject/private/
/Ejercicio-06-04-2024/build/
/Prueba/nbproject/private/
/JavaFXApplication5/nbproject/private/
/JavaFXApplication6/nbproject/private/
/prueba12042024/nbproject/private/
/JavaFXApplication8/nbproject/private/
/Prueba1804/target/
/PROYECTOUMGBIBLIOTECA2024/target/
